html, body {
  min-height: 100%;
  height: 100%;
}

.jumbotron {
  background-image: url("../images/star_wars_large.jpg");
  min-height: 296px;
  margin-top: 50px;
}

p, a {
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, #header-section, #header-section a {
  font-family: 'Happy Monkey';
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

main {
  min-height: 80%;
}

.input-groups .input-group {
  width: 100%;
  margin-bottom: 5px;
}
.input-groups .input-group .input-group-addon {
  width: 25%;
}
.menu-link-fields .input-group-weight {
  width: 50%;
  margin-bottom: 5px;
}
.menu-link-fields .input-group-weight .input-group-addon {
  width: 50%;
}

#image-file,
#image-file:focus
#image-file:hover {
  background: transparent;
}

#image-dialog {
  display: none;
  overflow: hidden;
}

#image-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

#upload-iframe {
  width: 100%;
  height: 250px;
  display: block;
  border: 0;
  margin-top: 5px;
}
.image-fields {
  padding-right: 0;
  padding-left: 0;
}
#image-button {
  margin-left: 15px;
}

footer {
  min-height: 50px;
  background-color: #222;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
  border-color: #171717;
}
footer p {
  font-family: "Happy Monkey";
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  color: #B5B5B5;
}
#footer-div {
  margin-right: 0;
}

@media all and (max-width: 1190px) and (min-width: 980px) {
  .jumbotron {
    background-image: url("../images/star_wars_large.jpg");
    margin-top: 50px;
  }
}
@media all and (max-width: 979px) {
  .jumbotron {
    background-image: url("../images/star_wars_large.jpg");
    margin-top: 50px;
  }
}