html,
body {
  height: 100%;
}

body, #header-section {
	background-color: #fff;
}

.header-banner {
  height: 200px;
  background-image: url("../images/star_wars_large.jpg");
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-purple {
  background-image: linear-gradient(to bottom,#7c5b85 0,#56475e 100%);
  border-color: #56475e;
  color: #fff;
}

.navbar-purple a {
  color: #fff;
}

.navbar-purple .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-image: linear-gradient(to bottom,#7c5b85 0,#56475e 100%);
}

.navbar-purple .navbar-toggle {
border-color: #56475e;
}

.navbar-purple .navbar-toggle .icon-bar {
background-color: #888888;
}

main {
  min-height: 70%;
	border-radius: 4px;
	border: 1px solid #56475e;
  /*margin-bottom: 20px;*/
  padding: 10px;
  border-top: 0;
  border-bottom: 0;
}

.panel-purple > .panel-heading {
  color: #fff;
  /*background-color: #B74934;*/
  background-image: linear-gradient(to bottom,#7c5b85 0,#56475e 100%);
  border-color: #56475e;
}

.panel-purple {
border-color: #56475e;
}

footer {
  min-height: 50px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent;
  padding: 5px;

  background-image: linear-gradient(to bottom,#7c5b85 0,#56475e 100%);
  border-color: #56475e;
}

footer p,
footer a {
  color: #fff;
}

@media all and (max-width: 1190px) and (min-width: 980px) {
  .header-banner {
    background-image: url("../images/star_wars_medium.jpg");
  }
}
@media all and (max-width: 979px) {
  .header-banner {
    background-image: url("../images/star_wars_small.jpg");
  }

  .collapse.in .navbar-form,
  .collapsing .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
  }
}