.navbar-grey {
  background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
  border-color: #171717;
}
.navbar-grey .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #B5B5B5;
}
.navbar-grey .navbar-collapse, .navbar-grey .navbar-form {
  border-color: #171717;
}
.navbar-grey .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
}
.navbar-grey .navbar-toggle {
  border-color: #171717;
}
.navbar-grey .navbar-toggle .icon-bar {
  background-color: #888888;
}

.dropdown-menu > .dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown:hover > .dropdown-menu > li {
  background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
  border: 1px solid;
  border-color: #171717;
  height: 35px;
}
.dropdown:hover > .dropdown-menu > li > a {
  color: #B5B5B5;
  padding: 5px 20px;
}
.dropdown > .dropdown-menu > li:hover > a {
  color: #fff;
  background: transparent;
}
.dropdown-menu {
  background: transparent;
  padding: 0;
}
.dropdown-menu:nth-child(n) .dropdown-menu {
  top: 4px;
} 

@media all and (max-width: 979px) {
  .navbar-grey .navbar-header {
    background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
    border-color: #171717;
  }

  .collapse.in .navbar-form,
  .collapsing .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom,#343334 0,#171717 100%);
    border-color: #171717;
  }
}